@import "style.css";

.box {
    -fx-background-color: -fx-gray-800;
}

.alert {
    -fx-background-color: -fx-main-color;
    -fx-padding: 40px 40px 40px 40px;
}

.alert.denied {
    -fx-background-color: -fx-red-500;
}

.alert.success {
    -fx-background-color: -fx-green-500;
}

.alert.verifying {
    -fx-background-color: -fx-gray-400;
}

.alertMessage {
    -fx-text-fill: #FFF;
    -fx-font-weight: 500;
    -fx-font-size: 24px;
}

.adminButton {
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-cursor: hand;
}