@import "style.css";

.container {
    -fx-background-color: #FFF;
}

.left-sidebar {
    -fx-background-color: -fx-main-color;
}

.anchor {
    -fx-text-fill: #FFF;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-content-display: center;
}

.anchor:hover {
    -fx-text-fill: #FFF;
    -fx-underline: false;
}

.anchor:visited {
    -fx-text-fill: #FFF;
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.left-sidebar-title {
    -fx-font-size: 32px;
    -fx-text-fill: #FFF;
    -fx-alignment: center;
    -fx-content-display: center;
}