@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Light.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Regular.ttf");
}
@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Medium.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Bold.ttf");
}
@font-face {
    font-family: "Roboto Black";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Black.ttf");
}