@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Roboto/Roboto_Bold.ttf");
}