@import "Roboto.css";

* {
    -fx-main-color: #48D1CC;
    -fx-gray-400: rgba(156, 163, 175, 1);
    -fx-gray-800: #1f2937;
    -fx-cyan-400: #00a7e5;
    -fx-green-500: rgba(16, 185, 129, 1);
    -fx-red-500: rgba(239, 68, 68, 1);
    -fx-font-family: "Roboto Regular", sans-serif;
}

.btn {
    -fx-background-color: -fx-main-color;
    -fx-font-size: 12px;
    -fx-text-fill: #FFF;
}

.label-errors {
    -fx-text-fill: #f44336;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-font-family: "Roboto Bold", sans-serif;
}
